
input{
    font-size: medium;
    border-radius: 8px;
    width: 150%;
    display: flex;
    justify-content: center;
}
.message{
    padding-left: 5px;
}
div{
    display:flex;
    justify-content: center;
}

button {
    border-radius: 12px;
}